LADING_EVM_PRIVATE_KEY=0x...
LADING_ANT_ID=BiW6dxwkphDjKWsDEqHRKMvNoTbebEDb5i83DUhTwsB1
LADING_ARNS_BASE_NAME=boughtviatoonnode
LADING_ARNS_GATEWAY=permagate.io
LADING_SOLANA_KEYPAIR=[1,2,3,...]
SOLANA_RPC=https://api.mainnet-beta.solana.com
